html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  width: 100%;
  height: 100%;
  min-width: 960px;
}
body {
  position: relative;
}
.wrapOut {
  width: 100%;
  float: left;
  clear: both;
  min-width: 960px;
}
.wrapIn {
  width: 960px;
  margin: 0 auto;
}
.outer {
  float: left;
  clear: both;
  position: relative;
  left: 50%;
}
.inner {
  position: relative;
  left: -50%;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, verdana, sans-serif;
  text-rendering: optimizeLegibility;
}
.floatClear {
  float: left;
  clear: both;
}
img {
  border: 0;
}
ul {
  list-style-type: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* ================== */
/* = General Styles = */
/* ================== */
body {
  background: #69a6b7;
  color: #04232b;
  font-size: 18px;
}
a {
  color: #000;
}
a:hover {
  color: #ffa52e;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size: 27px;
  color: #ffa52e;
  font-weight: bold;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.1);
  padding: 0 0 10px 0;
}
h2 a {
  color: #ffa52e;
  cursor: default;
}
.note {
  color: #cccccc;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}
.wrapOut {
  padding: 50px 0;
}
.section {
  width: 960px;
  float: left;
  clear: both;
  margin: 0 0 60px 0;
  overflow: hidden;
}
pre {
  background: #000;
  color: #fff;
  padding: 15px;
  margin: 10px 0 0 0;
  font-family: monaco;
}
/* ========== */
/* = Header = */
/* ========== */
#header {
  background: #3e6a76;
  padding: 15px 0;
  margin: 0 0 30px 0;
  color: #cccccc;
  letter-spacing: 0.1em;
  font-style: oblique;
  float: left;
  -moz-box-shadow: 0 3px 7px #173943;
  -webkit-box-shadow: 0 3px 7px #173943;
  box-shadow: 0 3px 7px #173943;
}
h1 {
  display: inline;
  font-weight: bold;
  font-style: normal;
  color: #f4f0e4;
  letter-spacing: 0.1em;
  font-size: 37px;
  text-shadow: 0px -1px rgba(0, 0, 0, 0.7), 0px 1px rgba(255, 255, 255, 0.2);
  float: left;
  margin: 0 20px 0 0;
}
h1 span {
  color: #eb911a;
  position: relative;
  bottom: 3px;
}
/* ======== */
/* = Body = */
/* ======== */
#forkMe {
  position: absolute;
  top: 0;
  right: 0;
}
#navigation {
  font-size: 22px;
}
#what ul {
  list-style-type: disc;
  margin: 0 0 0 25px;
}
.box {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
}
.description {
  width: 960px;
  float: left;
  clear: both;
  margin: 0 0 30px 0;
}
.noExample {
  margin: 0 0 50px 0;
}
.example {
  width: 960px;
  float: left;
  clear: both;
  margin: 0 0 50px 0;
}
.example span {
  display: none;
}
.example div:hover span {
  display: inline;
}
#rounded {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  /*  .translucent(@exampleColor1, 0.5);*/

}
.CSS {
  color: #868276;
}
.gradient {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
  width: 437px;
  word-wrap: break-word;
}
.left {
  clear: left;
  margin: 0 20px 20px 0;
}
#gradientV {
  clear: left;
  margin: 0 20px 20px 0;
  background: #dfd1e3;
  background-image: -moz-linear-gradient(top, #f0ced6, #ced3f0);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ced6), to(#ced3f0));
  background-image: -webkit-linear-gradient(top, #f0ced6, #ced3f0);
  background-image: -o-linear-gradient(top, #f0ced6, #ced3f0);
  background-image: linear-gradient(top, #f0ced6, #ced3f0);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #f0ced6, #ced3f0);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #f0ced6, #ced3f0);
  background-image: -ms-linear-gradient(top, #f0ced6, #ced3f0);
}
#gradientH {
  clear: right;
  background: #dfd1e3;
  background-image: -moz-linear-gradient(left, #f0ced6, #ced3f0);
  background-image: -webkit-gradient(linear, left center, right center, from(#f0ced6), to(#ced3f0));
  background-image: -webkit-linear-gradient(left center, right center, from(#f0ced6), to(#ced3f0));
  background-image: -o-linear-gradient(left, #f0ced6, #ced3f0);
  background-image: linear-gradient(left, #f0ced6, #ced3f0);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1}, GradientType=1)", #f0ced6, #ced3f0);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1}, GradientType=1)", #f0ced6, #ced3f0);
  background-image: -ms-linear-gradient(left, #f0ced6, #ced3f0);
}
#gradientV3 {
  clear: left;
  margin: 0 20px 20px 0;
  background: #e1dfd2;
  background-image: -moz-linear-gradient(top, #f0ced6, #ced3f0 50%, #d2f0ce);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ced6), color-stop(0.5, #ced3f0), to(#d2f0ce));
  background-image: -webkit-linear-gradient(top, from(#f0ced6), color-stop(0.5, #ced3f0), to(#d2f0ce));
  background-image: -o-linear-gradient(top, #f0ced6 0%, #ced3f0 50%, #d2f0ce 100%);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #f0ced6, #d2f0ce);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #f0ced6, #d2f0ce);
  background-image: linear-gradient(top, #f0ced6 0%, #ced3f0 50%, #d2f0ce 100%);
}
#gradientH3 {
  clear: right;
  background: #e1dfd2;
  background-image: -moz-linear-gradient(left, #f0ced6, #ced3f0 50%, #d2f0ce);
  background-image: -webkit-gradient(linear, left center, right center, from(#f0ced6), color-stop(0.5, #ced3f0), to(#d2f0ce));
  background-image: -webkit-linear-gradient(left, from(#f0ced6), color-stop(0.5, #ced3f0), to(#d2f0ce));
  background-image: -o-linear-gradient(left, #f0ced6 0%, #ced3f0 50%, #d2f0ce 100%);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #f0ced6, #d2f0ce);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #f0ced6, #d2f0ce);
  background-image: linear-gradient(left, #f0ced6 0%, #ced3f0 50%, #d2f0ce 100%);
}
#gradientV4 {
  clear: left;
  margin: 0 20px 20px 0;
  background: #e2f1cd;
  background-image: -moz-linear-gradient(top, #f2f1cb, #f0ced6 33%, #ced3f0 66%, #d2f0ce);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f1cb), color-stop(0.33, #f0ced6), color-stop(0.66, #ced3f0), to(#d2f0ce));
  background-image: -webkit-linear-gradient(top, from(#f2f1cb), color-stop(0.33, #f0ced6), color-stop(0.66, #ced3f0), to(#d2f0ce));
  background-image: -o-linear-gradient(top, #f2f1cb 0%, #f0ced6 33%, #ced3f0 66%, #d2f0ce 100%);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #f2f1cb, #d2f0ce);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #f2f1cb, #d2f0ce);
  background-image: linear-gradient(top, #f2f1cb 0%, #f0ced6 33%, #ced3f0 66%, #d2f0ce 100%);
}
#gradientH4 {
  clear: right;
  background: #e2f1cd;
  background-image: -moz-linear-gradient(left, #f2f1cb, #f0ced6 33%, #ced3f0 66%, #d2f0ce);
  background-image: -webkit-gradient(linear, left center, right center, from(#f2f1cb), color-stop(0.33, #f0ced6), color-stop(0.66, #ced3f0), to(#d2f0ce));
  background-image: -webkit-linear-gradient(left center, right center, from(#f2f1cb), color-stop(0.33, #f0ced6), color-stop(0.66, #ced3f0), to(#d2f0ce));
  background-image: -o-linear-gradient(left, #f2f1cb 0%, #f0ced6 33%, #ced3f0 66%, #d2f0ce 100%);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1}, GradientType=1)", #f2f1cb, #d2f0ce);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1}, GradientType=1)", #f2f1cb, #d2f0ce);
  background-image: linear-gradient(left, #f2f1cb 0%, #f0ced6 33%, #ced3f0 66%, #d2f0ce 100%);
}
#shadow {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
  clear: left;
  margin: 0 30px 0 0;
  width: 360px;
  -moz-box-shadow: 3px 3px 6px #000000;
  -webkit-box-shadow: 3px 3px 6px #000000;
  box-shadow: 3px 3px 6px #000000;
}
#shadow2 {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
  border-color: #000;
  clear: right;
  width: 400px;
  -moz-box-shadow: 2px 2px 3px #000000 inset;
  -webkit-box-shadow: 2px 2px 3px #000000 inset;
  box-shadow: 2px 2px 3px #000000 inset;
}
#transition {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
  width: 360px;
  height: 65px;
  overflow: hidden;
}
#transition .css {
  display: block;
}
#transition:hover {
  background: #F5FAA0;
  height: 190px;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#centeredContent {
  background: #f4f0e4;
  border: 1px solid #c2beb2;
  padding: 20px;
}
#centeredContent a span {
  display: none;
}
#centeredContent a:hover {
  color: #195667;
  text-shadow: none;
}
#centeredContent a:hover > span {
  display: inline;
}
#callToActionExample {
  float: left;
  clear: both;
  margin: 10px 0 0 0;
  padding: 4px 13px 2px 13px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.2) -1px 0, rgba(0, 0, 0, 0.2) 0 -1px, rgba(255, 255, 255, 0.2) 0 1px;
  border: 1px solid #974000;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 2px #974000;
  -webkit-box-shadow: 0px 0px 2px #974000;
  box-shadow: 0px 0px 2px #974000;
  background: #db8412;
  background-image: -moz-linear-gradient(top, #ec9523, #ec9523 46%, #c97200 54%, #c97200);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec9523), color-stop(0.46, #ec9523), color-stop(0.54, #c97200), to(#c97200));
  background-image: -webkit-linear-gradient(top, from(#ec9523), color-stop(0.46, #ec9523), color-stop(0.54, #c97200), to(#c97200));
  background-image: -o-linear-gradient(top, #ec9523 0%, #ec9523 46%, #c97200 54%, #c97200 100%);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #ec9523, #c97200);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #ec9523, #c97200);
  background-image: linear-gradient(top, #ec9523 0%, #ec9523 46%, #c97200 54%, #c97200 100%);
}
#callToActionExample:hover {
  color: #fff;
  background: #c77000;
  background-image: -moz-linear-gradient(top, #d8810f, #d8810f 46%, #b55e00 54%, #b55e00);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8810f), color-stop(0.46, #d8810f), color-stop(0.54, #b55e00), to(#b55e00));
  background-image: -webkit-linear-gradient(top, from(#d8810f), color-stop(0.46, #d8810f), color-stop(0.54, #b55e00), to(#b55e00));
  background-image: -o-linear-gradient(top, #d8810f 0%, #d8810f 46%, #b55e00 54%, #b55e00 100%);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #d8810f, #b55e00);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #d8810f, #b55e00);
  background-image: linear-gradient(top, #d8810f 0%, #d8810f 46%, #b55e00 54%, #b55e00 100%);
}
#callToActionExample:active {
  color: #fff;
  background: #b35c00;
  background-image: -moz-linear-gradient(top, #c46d00, #c46d00 46%, #a14a00 54%, #a14a00);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c46d00), color-stop(0.46, #c46d00), color-stop(0.54, #a14a00), to(#a14a00));
  background-image: -webkit-linear-gradient(top, from(#c46d00), color-stop(0.46, #c46d00), color-stop(0.54, #a14a00), to(#a14a00));
  background-image: -o-linear-gradient(top, #c46d00 0%, #c46d00 46%, #a14a00 54%, #a14a00 100%);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #c46d00, #a14a00);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #c46d00, #a14a00);
  background-image: linear-gradient(top, #c46d00 0%, #c46d00 46%, #a14a00 54%, #a14a00 100%);
}
.floatClearExample {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
}
.clearfixContainer {
  float: left;
  margin: 0 20px 0 0;
}
.clearfixOuter {
  width: 350px;
  padding: 15px;
  background: #f4f0e4;
  border: 1px solid #c2beb2;
}
.clearfixInner {
  float: right;
  width: 50%;
  padding: 15px;
  background: #b8b4a8;
  border: 1px solid #868276;
}
#clearfix {
  zoom: 1;
}
#clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#lastExample {
  margin-bottom: 0;
}
#lastSection {
  margin-bottom: 10px;
}
#content {
  padding-bottom: 0;
}
/* ==================== */
/* = Download Section = */
/* ==================== */
#downloadWrapper {
  float: left;
  clear: both;
  margin: 14px 0 10px 0;
  width: 960px;
}
#downloadWrapper span {
  float: left;
}
#downloadWrapper #downloadLink {
  float: left;
  clear: both;
  margin: 10px 0 0 0;
  padding: 4px 13px 2px 13px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.2) -1px 0, rgba(0, 0, 0, 0.2) 0 -1px, rgba(255, 255, 255, 0.2) 0 1px;
  border: 1px solid #974000;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0px 0px 2px #974000;
  -webkit-box-shadow: 0px 0px 2px #974000;
  box-shadow: 0px 0px 2px #974000;
  background: #db8412;
  background-image: -moz-linear-gradient(top, #ec9523, #ec9523 46%, #c97200 54%, #c97200);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec9523), color-stop(0.46, #ec9523), color-stop(0.54, #c97200), to(#c97200));
  background-image: -webkit-linear-gradient(top, from(#ec9523), color-stop(0.46, #ec9523), color-stop(0.54, #c97200), to(#c97200));
  background-image: -o-linear-gradient(top, #ec9523 0%, #ec9523 46%, #c97200 54%, #c97200 100%);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #ec9523, #c97200);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #ec9523, #c97200);
  background-image: linear-gradient(top, #ec9523 0%, #ec9523 46%, #c97200 54%, #c97200 100%);
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  bottom: 10px;
}
#downloadWrapper #downloadLink:hover {
  color: #fff;
  background: #c77000;
  background-image: -moz-linear-gradient(top, #d8810f, #d8810f 46%, #b55e00 54%, #b55e00);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8810f), color-stop(0.46, #d8810f), color-stop(0.54, #b55e00), to(#b55e00));
  background-image: -webkit-linear-gradient(top, from(#d8810f), color-stop(0.46, #d8810f), color-stop(0.54, #b55e00), to(#b55e00));
  background-image: -o-linear-gradient(top, #d8810f 0%, #d8810f 46%, #b55e00 54%, #b55e00 100%);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #d8810f, #b55e00);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #d8810f, #b55e00);
  background-image: linear-gradient(top, #d8810f 0%, #d8810f 46%, #b55e00 54%, #b55e00 100%);
}
#downloadWrapper #downloadLink:active {
  color: #fff;
  background: #b35c00;
  background-image: -moz-linear-gradient(top, #c46d00, #c46d00 46%, #a14a00 54%, #a14a00);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c46d00), color-stop(0.46, #c46d00), color-stop(0.54, #a14a00), to(#a14a00));
  background-image: -webkit-linear-gradient(top, from(#c46d00), color-stop(0.46, #c46d00), color-stop(0.54, #a14a00), to(#a14a00));
  background-image: -o-linear-gradient(top, #c46d00 0%, #c46d00 46%, #a14a00 54%, #a14a00 100%);
  filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #c46d00, #a14a00);
  -ms-filter: formatstring("progid:DXImageTransform.Microsoft.gradient(startColorstr={0}, endColorstr={1})", #c46d00, #a14a00);
  background-image: linear-gradient(top, #c46d00 0%, #c46d00 46%, #a14a00 54%, #a14a00 100%);
}
#downloadWrapper #downloadLink span {
  float: none;
  position: relative;
  bottom: 2px;
}
