html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  width: 100%;
  height: 100%;
  min-width: 960px;
}
body {
  position: relative;
}
.wrapOut {
  width: 100%;
  float: left;
  clear: both;
  min-width: 960px;
}
.wrapIn {
  width: 960px;
  margin: 0 auto;
}
.outer {
  float: left;
  clear: both;
  position: relative;
  left: 50%;
}
.inner {
  position: relative;
  left: -50%;
}
.callToAction {
  float: left;
  clear: both;
  margin: 10px 0 0 0;
  padding: 4px 13px 2px 13px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.2) -1px 0, rgba(0, 0, 0, 0.2) 0 -1px, rgba(255, 255, 255, 0.2) 0 1px;
  border: 1px solid #974000;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0px 0px 2px #974000;
  -webkit-box-shadow: 0px 0px 2px #974000;
  box-shadow: 0px 0px 2px #974000;
  background: #db8412;
  background: -moz-linear-gradient(top, #ec9523, #ec9523 46%, #c97200 54%, #c97200);
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9523), color-stop(0.46, #ec9523), color-stop(0.54, #c97200), to(#c97200));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ec9523, endColorstr=#c97200);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ec9523, endColorstr=#c97200);
}
.callToAction:hover {
  color: #fff;
  background: #c77000;
  background: -moz-linear-gradient(top, #d8810f, #d8810f 46%, #b55e00 54%, #b55e00);
  background: -webkit-gradient(linear, left top, left bottom, from(#d8810f), color-stop(0.46, #d8810f), color-stop(0.54, #b55e00), to(#b55e00));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d8810f, endColorstr=#b55e00);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d8810f, endColorstr=#b55e00);
}
.callToAction:active {
  color: #fff;
  background: #b35c00;
  background: -moz-linear-gradient(top, #c46d00, #c46d00 46%, #a14a00 54%, #a14a00);
  background: -webkit-gradient(linear, left top, left bottom, from(#c46d00), color-stop(0.46, #c46d00), color-stop(0.54, #a14a00), to(#a14a00));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c46d00, endColorstr=#a14a00);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c46d00, endColorstr=#a14a00);
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, verdana, sans-serif;
  text-rendering: optimizeLegibility;
}
.floatClear {
  float: left;
  clear: both;
}
img {
  border: 0;
}
ul {
  list-style-type: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* ================== */
/* = General Styles = */
/* ================== */
body {
  background: #5f9cad;
  color: #04232b;
  font-size: 18px;
}
a {
  color: #000;
}
a:hover {
  color: #fba432;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size: 30px;
  color: #fba432;
  font-weight: bold;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  padding: 0 0 10px 0;
}
h2 a {
  color: #fba432;
  cursor: default;
}
.note {
  color: #cccccc;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}
.wrapOut {
  padding: 50px 0;
}
.section {
  width: 960px;
  float: left;
  clear: both;
  margin: 0 0 60px 0;
  overflow: hidden;
}
pre {
  background: #000;
  color: #fff;
  padding: 15px;
  margin: 10px 0 0 0;
  font-family: monaco;
}
/* ========== */
/* = Header = */
/* ========== */
#shadowHelper {
  overflow: hidden;
  padding: 4px 0 10px 0;
  margin: -4px 0 0 0;
}
#header {
  background: #355f6b;
  padding: 15px 0;
  margin: 0 0 30px 0;
  color: #cccccc;
  letter-spacing: 0.1em;
  font-style: oblique;
  float: left;
  /*  .boxShadow(0, 3px, 7px, #355761 - 30%);*/

}
h1 {
  display: inline;
  font-weight: bold;
  font-style: normal;
  color: #f4f0e4;
  letter-spacing: 0.1em;
  font-size: 35px;
  text-shadow: 0px -1px rgba(0, 0, 0, 0.7), 0px 1px rgba(255, 255, 255, 0.2);
  float: left;
  margin: 0 20px 0 0;
}
h1 span {
  color: #e7901e;
  position: relative;
  bottom: 3px;
}
/* ======== */
/* = Body = */
/* ======== */
#forkMe {
  position: absolute;
  top: 0;
  right: 0;
}
#what ul {
  list-style-type: disc;
  margin: 0 0 0 25px;
}
.box {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
}
.description {
  width: 960px;
  float: left;
  clear: both;
  margin: 0 0 30px 0;
}
.example {
  width: 960px;
  float: left;
  clear: both;
  margin: 0 0 50px 0;
}
#rounded {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  /*  .translucent(@exampleColor1, 0.5);*/

}
#shadow {
  -moz-box-shadow: 2px 2px 10px #000000;
  -webkit-box-shadow: 2px 2px 10px #000000;
  box-shadow: 2px 2px 10px #000000;
}
.CSS {
  color: #868276;
}
#gradient1 {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
  width: 830px;
  margin: 0 30px 20px 0;
  background: #d6d2c6;
  background-image: -moz-linear-gradient(top, #f4f0e4, #b8b4a8);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f0e4), to(#b8b4a8));
  background-image: -webkit-linear-gradient(top, #f4f0e4, #b8b4a8);
  background-image: -o-linear-gradient(top, #f4f0e4, #b8b4a8);
  background-image: linear-gradient(top, #f4f0e4, #b8b4a8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f0e4, endColorstr=#b8b4a8);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f0e4, endColorstr=#b8b4a8);
  background-image: -ms-linear-gradient(top, #b8b4a8, #b8b4a8);
}
#gradient2 {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
  width: 830px;
  background: #d6d2c6;
  background-image: -moz-linear-gradient(left, #f4f0e4, #b8b4a8);
  background-image: -webkit-gradient(linear, left center, right center, from(#f4f0e4), to(#b8b4a8));
  background-image: -webkit-linear-gradient(left center, right center, from(#f4f0e4), to(#b8b4a8));
  background-image: -o-linear-gradient(left, #f4f0e4, #b8b4a8);
  background-image: linear-gradient(left, #f4f0e4, #b8b4a8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f0e4, endColorstr=#b8b4a8, GradientType=1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f4f0e4, endColorstr=#b8b4a8, GradientType=1);
  background-image: -ms-linear-gradient(left, #b8b4a8, #b8b4a8);
}
#shadow {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
  width: 360px;
  -moz-box-shadow: 3px 3px 6px #000000;
  -webkit-box-shadow: 3px 3px 6px #000000;
  box-shadow: 3px 3px 6px #000000;
}
#transition {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
  width: 360px;
}
#transition:hover {
  background: #b8b4a8;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#centeredContent {
  background: #f4f0e4;
  border: 1px solid #c2beb2;
  padding: 20px;
}
#centeredContent a span {
  display: none;
}
#centeredContent a:hover {
  color: #0f4c5d;
  text-shadow: none;
}
#centeredContent a:hover > span {
  display: inline;
}
.floatClearExample {
  float: left;
  clear: both;
  padding: 15px;
  width: 290px;
  margin: 0 0 20px 0;
  border: 1px solid #c2beb2;
  background: #f4f0e4;
}
.clearfixContainer {
  float: left;
  margin: 0 20px 0 0;
}
.clearfixOuter {
  width: 350px;
  padding: 15px;
  background: #f4f0e4;
  border: 1px solid #c2beb2;
}
.clearfixInner {
  float: right;
  width: 50%;
  padding: 15px;
  background: #b8b4a8;
  border: 1px solid #868276;
}
#clearfix {
  zoom: 1;
}
#clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#lastExample {
  margin-bottom: 0;
}
#lastSection {
  margin-bottom: 10px;
}
#content {
  padding-bottom: 0;
}
/* ==================== */
/* = Download Section = */
/* ==================== */
#downloadWrapper {
  float: left;
  clear: both;
  margin: 14px 0 10px 0;
  width: 960px;
}
#downloadWrapper span {
  float: left;
}
#downloadWrapper .callToAction {
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  bottom: 10px;
}
#downloadWrapper .callToAction span {
  float: none;
}
.callToAction span {
  position: relative;
  bottom: 3px;
}
